/* Default styles for all pages except climbing-wall.html */
body { /* Sets styles for the whole page */
    margin: 0px;
    font-family: sans-serif;
    background-color: #f0f9ff;
}
p { /* Sets line spacing for all paragraphs */
    line-height: 25px;
}
.main-headings { /* Styling to set the font-size big for the h1 headings */
    font-size: 2rem;
}
.secondary-headings { /* Styling to set the font-size a bit smaller for the h2 headings */
    font-size: 1.6rem;
}
.photographer { /* Styling for paragraphs used for the photographers name */
    font-size: small;
    color: rgb(86, 86, 86);
}

/* Our basic grid layout used on all pages except accessibility.html and climbing-wall.html
index.html and topical.html only uses these <div>'s.
lecture-hall.html uses first-box combined with unique <div>'s for the page */

.wrapper { /* Used by all pages except accessibility.html and climbing-wall */
    display: grid;
    grid-template-columns: 8vw auto auto 8vw; /* Grid layout for the default wrapper. 8vw are used as margins on both sides. "Vw" are used to scale the margins proportionally depending on the screen width */
    grid-auto-rows: minmax(100px, auto); /* Makes the height for each grid row at least 100px */
}
.first-box { /* Used on all pages except accessibility.html and climbing-wall.html. Margin top to make the site begin under the navbar with position fixed */
    grid-column: 2/4;
    grid-row: 1;
    margin-top: 50px;
}
.second-box { /* Only used on index.html and topical.html */
    grid-column: 2/4;
    grid-row: 2;
}

/* Grid layout for accessibility.html */
.wrapper-accessibility { /* Used by all pages except climbing-wall */
    display: grid;
    grid-template-columns: 8vw 38vw 8vw 38vw 8vw; /* accessibility.html uses its own grid to use the second 8vw for margins at the middle of the page */
    grid-auto-rows: minmax(100px, auto); /* Makes the height for each grid row at least 100px */
}
#accessibility-text { /* Defines the grid position for text in the first paragraph. Margin at the bottom, to create some space to the next row */
    grid-column: 2/5;
    grid-row: 1;
    margin-top: 50px;
}
#accessibility-text-universal-design { /* Defines the grid position for text in the "Choices made for universal design" paragraph */
    grid-column: 2/3;
    grid-row: 2;
}
#accessibility-text-colors { /* Defines the grid position for text in the "Choice of colours" paragraph */
    grid-column: 4/5;
    grid-row: 2;
}
#accessibility-picture-colour { /* Defines the grid position for the "red/green color blindness" picture. Margin at the bottom, to create some space to the next row */
    grid-column: 2/3;
    grid-row: 3;
    margin-bottom: 50px;
}
#accessibility-picture-no-colour { /* Defines the grid position for the "total color absence" picture. Margin at the bottom is not needed due to the other picture. */
    grid-column: 4/5;
    grid-row: 3;
}
#accessibility-text-lighthouse-desktop { /* Defines the grid position for text in the "Lighthouse accessibility test for desktop" paragraph */
    grid-column: 2/3;
    grid-row: 4;
}
#accessibility-pictures-lighthouse-desktop { /* Defines the grid position for the "Lighthouse desktop" picture. Margin at the bottom, to create some space to the next row */
    grid-column: 2/3;
    grid-row: 5;
    margin-bottom: 50px;
}
#accessibility-text-lighthouse-mobile { /* Defines the grid position for text in the "Lighthouse accessibility test for mobile" paragraph */
    grid-column: 4/5;
    grid-row: 4;
}
#accessibility-pictures-lighthouse-mobile { /* Defines the grid position for the "Lighthouse mobile" picture. Margin at the bottom, to create some space to the next row */
    grid-column: 4/5;
    grid-row: 5;
    margin-bottom: 50px;
}
#accessibility-text-wave { /* Defines the grid position for text in the "Wave accessibility test" paragraph */
    grid-column: 2/3;
    grid-row: 6;
}
#accessibility-pictures-wave-desktop { /* Defines the grid position for the "Wave accessibility test" picture */
    grid-column: 2/3;
    grid-row: 7;
}
#accessibility-text-explination-wave { /* Defines the grid position for text in the "Explaination of the wave accessibility test" paragraph */
    grid-column: 4/5;
    grid-row: 6;
}
#accessibility-pictures-wave-mobile { /* Defines the grid position for the "Detailed wave accessibility test" picture */
    grid-column: 4/5;
    grid-row: 7;
}

/* Grid layout for lecture-hall.html */
#lecture-hall-text-1200 { /* Defines the grid position for text in the "DATA1200" paragraph. Margin at the top, to create space from the first-box paragraph. */
    grid-column: 2/3;
    grid-row: 2;
    margin-top: 20px;
}
#lecture-hall-picture { /* Defines the grid position for the vertical picture. Margin at the top and left, to create space from the top and left paragraph. */
    grid-column: 3/4;
    grid-row: 2;
    margin-top: 40px;
    margin-left: 105px;
}
#lecture-hall-text-other-subjects { /* Defines the grid position for text in the "Other subjects" paragraph */
    grid-column: 2/4;
    grid-row: 3;
}

/* Grid layout for climbing-wall.html */
#wrapper-climbing-wall { /* Wrapper only used on climbing-wall.html to make it unique. Dark background color and all text with center allignment. */
    display: grid;
    grid-template-columns: 50px auto 510px 50px; /* 50px are used as margins on both sides. 510px is used for a set size for the picture grid. */
    grid-auto-rows: minmax(100px, auto); /* Makes the height for each grid row at least 100px */
    background-color: #2e2f2f;
    text-align: center;
}
#climbing-wall-text-new-heights { /* Defines the grid position for text in the "Indoor Climbing Walls: Scaling New Heights in Adventure" paragraph. Martin at the top, to create space from the navbar. */
    grid-column: 2/3;
    grid-row: 1;
    margin-top: 50px;
}
#climbing-wall-pictures { /* Defines the grid position for the big vertical picture */
    grid-column: 3/5;
    grid-row: 1;
}
#climbing-wall-text-more-information { /* Defines the grid position for text in the "More information about climbing" paragraph. Martin at the bottom, to create space from the footer. */
    grid-column: 2/4;
    grid-row: 2;
    margin-bottom: 50px;
}

/* Default styles for climbing-wall.html */
.climbing-wall-background-color-text { /* Styling for the paragraphs in climbing-wall.html. Background color for the box, padding to create space between the text and the box, margin bottom to create space for the next paragraphs. */
    background-color: rgb(56, 56, 56);
    padding: 15px;
    color: white;
    margin-bottom: 30px;
}
.climbing-wall-secondary-headings { /* Styling for the h2 headings. Same style as the regular secondary headings, but with different color and underlined. */
    color: white;
    text-decoration: underline;
    text-decoration-color: rgba(245, 245, 245, 0.23);
    font-size: 1.6rem;
}
#climbing-wall-main-heading { /* Styling for the h1 headings. Same style as the regular main headings, but with different color and underlined. */
    color: white;
    text-decoration: underline;
    text-decoration-color: rgba(245, 245, 245, 0.23);
    font-size: 2rem;
}
#photographer-climbing-wall { /* Same styling for paragraphs used for the photographers name, with a different color */
    font-size: small;
    color: rgb(242, 242, 242);
}

/* Defineing sizes of pictures for all pages except accessibility.html */
#fake-news { /* Styling to initialize the picture size of the topical.html picture. Image is cropped to 3:2 format for consistency with other pages. Auto is used to keep the proportions correct. */
    height: 500px;
    width: auto;
}
#picture-of-oslomet { /* Styling to initialize the picture size of the index.html picture. Image is cropped to 3:2 format for consistency with other pages. Auto is used to keep the proportions correct. */
    height: 500px;
    width: auto;
}
#auditorium-horizontal { /* Styling to initialize the picture size of the main lecture-hall.html picture. Image is cropped to 3:2 format for consistency with other pages. Auto is used to keep the proportions correct. */
    height: 500px;
    width: auto;
}
#auditorium-vertical { /* Styling to initialize the picture size of the vertical lecture-hall.html picture. Auto is used to keep the proportions correct. */
    height: auto;
    width: 400px;
}
#climbing-wall-picture-tall { /* Styling to initialize the picture size of the climbing-wall.html picture. Auto is used to keep the proportions correct. */
    height: auto;
    width: 510px;
}
#climbing-wall-picture-cropped { /* Picture should not be displayed until the "max-width: 1125px" media query activates */
    display: none;
}
#auditorium-vertical-cropped { /* Picture should not be displayed until the "max-width: 1125px" media query activates */
    display: none;
}

/* Defineing sizes of pictures for accessibility.html */
#lighthouse-desktop-full { /* Styling to initialize the picture size of the "Fullscreen Lighthouse desktop" picture. 38vw is used to fill the entire grid and for flex scaling. Auto is used to keep the proportions correct. */
    width: 38vw;
    height: auto;
}
#lighthouse-desktop-rep { /* Picture should not be displayed until the "max-width: 1125px" media query activates */
    display: none;
}
#lighthouse-desktop-rep-cropped { /* Picture should not be displayed until the "max-width: 850px" media query activates */
    display: none;
}
#lighthouse-mobile-full { /* Styling to initialize the picture size of the "Fullscreen Lighthouse mobile" picture. 38vw is used to fill the entire grid and for flex scaling. Auto is used to keep the proportions correct. */
    width: 38vw;
    height: auto;
}
#lighthouse-mobile-rep { /* Picture should not be displayed until the "max-width: 1125px" media query activates */
    display: none;
}
#lighthouse-mobile-rep-cropped { /* Picture should not be displayed until the "max-width: 850px" media query activates */
    display: none;
}
#wave-rep-full { /* Styling to initialize the picture size of the "Fullscreen wave test" picture. 38vw is used to fill the entire grid and for flex scaling. Auto is used to keep the proportions correct. */
    width: 38vw;
    height: auto;
}
#wave-rep { /* Picture should not be displayed until the "max-width: 1125px" media query activates */
    display: none;
}
#wave-rep-details-full { /* Styling to initialize the picture size of the "Fullscreen detailed wave test" picture. 38vw is used to fill the entire grid and for flex scaling. Auto is used to keep the proportions correct. */
    width: 38vw;
    height: auto;
}
#wave-rep-details { /* Picture should not be displayed until the "max-width: 1125px" media query activates */
    display: none;
}
#wave-rep-cropped { /* Picture should not be displayed until the "max-width: 430px" media query activates */
    display: none;
}
#wave-rep-details-cropped { /* Picture should not be displayed until the "max-width: 430px" media query activates */
    display: none;
}
#color-blindness-test-protanopia { /* Styling to initialize the picture size of the "Red/green color blindness" picture. 38vw is used to fill the entire grid and for flex scaling. Auto is used to keep the proportions correct. */
    width: 38vw;
    height: auto;
}
#color-blindness-test-achromatopsia { /* Styling to initialize the picture size of the "Total absence of color" picture. 38vw is used to fill the entire grid and for flex scaling. Auto is used to keep the proportions correct. */
    width: 38vw;
    height: auto;
}

/* Grid layout for the footer */
footer {
    display: grid;
    grid-template-columns: 20vw auto 20vw;
}
#footer-wrapper-climbing-wall {
    background-color: #f0f9ff;
    color: black;
}
.footer-wrapper {
    background-color: #2e2f2f;
    color: white;
    margin-top: 50px;
}
.footer-box {
    grid-column: 2/3;
    grid-row: auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
}

/* Default navbar styling */
.navbar a:hover { /* Styles links to turn white while hovering */
    color: white;
    transition-duration: 250ms;
}
.navbar li a { /* Style for links */
    font-weight: bold;
    font-size: large;
    text-decoration: none;
    color: black;
}
.navbar li a.active { /* Style for link with the active class */
    color: white;
}

/* Start of Hamburger menu example taken from Tengel´s github
https://github.com/OsloMet-web/DATA1200code/blob/main/scaling/css/flex-box-menu.css 
Lines of code: 58 - 161 */
.menu {
    display: flex; 
    flex-direction: row; /* Wide screen: Menu items after each other on a horizontal line */
    justify-content: flex-start;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Styling for the navigation bar */
.navbar {
    position: fixed;
    background-color: #058ED9;
    height: 50px;
    width: 100vw;
    border: 0;
    border-bottom: 1px;
    border-style: solid;
    border-color: black;
} 
.menu-button-container { /* Hide the burger-box on wide screens */
    display: none;
} 
#burger-toggle { /* Hide the burger-image on wide screens */
    display: none;
}
.menu > li { /* Styling for menu items */
    padding-left: 20px;
    padding-top: 15px;
}

/* Media query for the navbar */
@media (max-width: 615px) {
    .navbar {
        display: flex;
        flex-direction: row;
        align-items: top;
        padding-left: 15px; /* Adds padding from the burger to the links */
    }
    .menu-button-container {
        display: flex;
        width: 40px;
        cursor: pointer;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .menu-button,
    .menu-button::before,
    .menu-button::after {
        display: block;
        background-image: url(../media/hamburger-menu.png); /* The icon is created ourself by Sander Sletvold */
        background-size: cover; /* "cover" stretch image to fill box */
        position: sticky;
        height: 40px;
        width: 40px;
    } 
    .menu {
        position: sticky;
        margin-top: 50px; /* Postitions pop-up menu relative to the hamburger */
        margin-left: -55px; 
        flex-direction: column; /* Stacks the menu-entries beneath each other */
        height: 164px; /* Determines the position of the dropdown meny relative to the burger */
    }
    .menu > li {
        overflow: hidden; /* Hide menu 'li' text unless burger (input) checked */
        display: flex;
        width: 200px; /* Width of menu. For mobile, maybe 100 % had been better?? */
        background-color: #68a5c5; /* Without bg-colour, text underneath the menu is not covered */
    }
    #burger-toggle ~ .menu li { /* Before you click: Hidden ~ is a "general sibling selector" */
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
    }
    #burger-toggle:checked ~ .menu li { /* After you click: Display */
        border-bottom: 1px;
        border-right: 1px;
        border-style: solid;
        border-color: #333;
        height: 1em;
        padding: 0.5em;
    }
}
/* This marks the end of code taken from Tengel´s github */

/* Media query for accessibility.html, lecture-hall.html and climbing-wall.html */
@media (max-width: 1125px) {
    /* Changes to the layout for accessibility.html */
    #accessibility-text-lighthouse-desktop {
        grid-column: 2/5;
    }
    #accessibility-pictures-lighthouse-desktop {
        grid-column: 2/5;
    }
    #accessibility-text-lighthouse-mobile  {
        grid-column: 2/5;
        grid-row: 6;
        margin-left: 0px;
    }
    #accessibility-pictures-lighthouse-mobile {
        grid-column: 2/5;
        grid-row: 7;
        margin-left: 0px;
    }
    #accessibility-text-wave {
        grid-row: 8;
    }
    #accessibility-pictures-wave-desktop {
        grid-row: 9;
    }
    #accessibility-text-explination-wave {
        grid-row: 8;
    }
    #accessibility-pictures-wave-mobile {
        grid-row: 9;
    }

    /* Changes to the pictures of accessibility.html */
    #lighthouse-desktop-full {
        display: none;
    }
    #lighthouse-desktop-rep {
        display: block;
        width: 84vw;
        height: auto;
    }
    #lighthouse-mobile-full {
        display: none;
    }
    #lighthouse-mobile-rep {
        display: block;
        width: 84vw;
        height: auto;
    }
    #wave-rep-full {
        display: none;
    }
    #wave-rep {
        display: block;
        width: 30vw;
        height: auto;
    }
    #wave-rep-details-full {
        display: none;
    }
    #wave-rep-details {
        display: block;
        width: 30vw;
        height: auto;
    }

    /* Changes to the layout for lecture-hall.html */
    #lecture-hall-picture {
        grid-column: 2/3;
        grid-row: 3;
        margin-left: 0px;
    }
    #lecture-hall-text-1200 {
        grid-column: 2/4;
    }
    #lecture-hall-text-other-subjects {
        grid-row: 4;
    }

    /* Changes to the pictures of lecture-hall.html */
    #auditorium-vertical {
        display: none;
    }
    #auditorium-vertical-cropped {
        display: block;
        width: 752px;
        height: auto;
    }

    /* Changes to the layout for climbing-wall.html */
    #wrapper-climbing-wall {
        grid-template-columns: 8vw 47vw 37vw 8vw;
    }
    #climbing-wall-text-new-heights {
        grid-column: 2/4;
        margin-right: 0px;
    }
    #climbing-wall-pictures {
        grid-column: 2/4;
        grid-row: 2;
    }
    #climbing-wall-text-more-information {
        grid-row: 3;
    }

    /* Changes to the pictures of climbing-wall.html */
    #climbing-wall-picture-cropped {
        height: 500px;
        width: 752px;
        display: block;
    }
    #climbing-wall-picture-tall {
        display: none;
    }
}

/* Media query for all pages */
@media (max-width: 850px) {
    /* Changes to the pictures of index.html */
    #picture-of-oslomet {
        width: 84vw;
        height: auto;
    }

    /* Changes to the layout for accessibility.html */
    #accessibility-text-universal-design {
        grid-column: 2/5;
    }
    #accessibility-text-colors {
        grid-row: 3;
        grid-column: 2/5;
        margin-left: 0px;
    }
    #accessibility-picture-colour {
        grid-row: 4;
        margin-bottom: 0px;
    }
    #accessibility-picture-no-colour {
        grid-row: 5;
        grid-column: 2/5;
        margin-left: 0px;
        margin-bottom: 50px;
    }
    #accessibility-text-lighthouse-desktop {
        grid-row: 6;
    }
    #accessibility-pictures-lighthouse-desktop {
        grid-row: 7;
    }
    #accessibility-text-lighthouse-mobile  {
        grid-row: 8;
    }
    #accessibility-pictures-lighthouse-mobile {
        grid-row: 9;
    }
    #accessibility-text-wave {
        grid-row: 10;
        grid-column: 2/5;
    }
    #accessibility-pictures-wave-desktop {
        grid-row: 11;
    }
    #accessibility-text-explination-wave {
        grid-column: 2/5;
        grid-row: 12;
        margin-left: 0px;
    }
    #accessibility-pictures-wave-mobile {
        grid-row: 11;
    }

    /* Changes to the pictures of accessibility.html */
    #lighthouse-desktop-rep-cropped {
        display: block;
        width: 63vw;
        height: auto;
    }
    #lighthouse-mobile-rep-cropped {
        display: block;
        width: 63vw;
        height: auto;
    }
    #lighthouse-desktop-rep {
        display: none;
    }
    #lighthouse-mobile-rep {
        display: none;
    }
    #wave-rep {
        width: 38vw;
    }
    #wave-rep-details {
        width: 38vw;
    }
    #color-blindness-test-protanopia {
        width: 63vw;
        height: auto;
        margin-left: 0px;
    }
    #color-blindness-test-achromatopsia {
        width: 63vw;
        height: auto;
        margin-left: 0px;
    }

    /* Changes to the pictures of topical.html */
    #fake-news {
        width: 84vw;
        height: auto;
    }

    /* Changes to the pictures of lecture-hall.html */
    #auditorium-horizontal {
        width: 84vw;
        height: auto;
    }
    #auditorium-vertical-cropped {
        width: 84vw;
    }

    /* Changes to the pictures of climbing-wall.html */
    #climbing-wall-picture-cropped {
        width: 84vw;
        height: auto;
    }
}

/* Media query for mobile view of accessibility.html
The rest of the pages scales well for mobile view without this media query 
The media query is set to activeate for screen sizes with less than 431px viewport width 
With a maximum of 430px viewport width we play it safe to scale for all phones */
@media (max-width: 430px) {
    /* Changes to the layout for accessibility.html */
    #accessibility-pictures-wave-mobile {
        grid-column: 2/5;
        grid-row: 13;
        margin-left: 0px;
    }

    /* Changes to the pictures of accessibility.html */
    #lighthouse-desktop-rep-cropped {
        width: 84vw;
    }
    #lighthouse-mobile-rep-cropped {
        width: 84vw;
    }
    #wave-rep {
        display: none;
    }
    #wave-rep-details {
        display: none;
    }
    #wave-rep-cropped {
        display: block;
        width: 84vw;
        height: auto;
    }
    #wave-rep-details-cropped {
        display: block;
        width: 84vw;
        height: auto;
    }
    #color-blindness-test-protanopia {
        width: 84vw;
    }
    #color-blindness-test-achromatopsia {
        width: 84vw;
    }
}