/* Set the default styles for the entire page */
body {
    margin: 0px;
    font-family: sans-serif;
    background-color: rgb(245, 249, 255);
    line-height: 25px;
}
.photographer {
    font-size: small;
    color: rgb(86, 86, 86);
}
.mainHeadings {
    font-size: 2rem;
}
.secondaryHeadings {
    font-size: 1.6rem;
}

/* Define size for specific pictures by their IDs */
#fakeNews {
    height: 500px;
    width: 750px;
}
#pictureOfOslomet {
    height: 500px;
    width: 750px;
}
#auditoriumHorizontal {
    height: 500px;
    width: 750px;
}
#auditoriumVertical {
    height: 600px;
    width: 400px;
}
#climbingWallPicture{
    height: 1020px;
    width: 510px;
}
#climbingWallCropped {
    display: none;
}

/* Create a grid layout for most pages (except climbingwall.html) */
.wrapper {
    display: grid;
    grid-template-columns: 8vw 47vw 37vw 8vw;
    grid-auto-rows: minmax(100px, auto);
}
.wrapperClimbingWall {
    display: grid;
    grid-template-columns: 50px auto 510px 50px;
    grid-auto-rows: minmax(100px, auto);
    background-color: rgb(42, 42, 42);
}
/* Apply grid styles to the main content box */
.mainBox {
    grid-column: 2/4;
    grid-row: 1;
    margin-top: 50px;
}
.secondBox {
    grid-column: 2/4;
    grid-row: 2;
}
#lectureHallText {
    grid-column: 2/3;
    grid-row: 2;
    margin-top: 20px;
}
#lectureHallPicture {
    grid-column: 3/4;
    grid-row: 2;
    margin-top: 40px;
    margin-left: 105px;
}
/* Create a grid layout for the footer */
.footerWrapper {
    display: grid;
    grid-template-columns: 20vw auto 20vw;
    background-color: rgb(77, 77, 77);
    margin: 0px;
    color: white;
}
/* Apply grid styles to the footer content */
.footer {
    grid-column: 2/3;
    grid-row: auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
}
/* Her definerer vi boksene som vi har tekst og bilde i på climbingwall.html */
.textClimbingWall {
    grid-column: 2/3;
    grid-row: 1;
    margin-top: 50px;
    margin-right: 50px;
}
.pictureClimbingWall {
    grid-column: 3/5;
    grid-row: 1;
}
.textUnderPicture {
    grid-column: 2/4;
    grid-row: 2;
}
#climbingWallPicture{
    height: 1020px;
    width: 510px;
}
#climbingWallCropped {
    display: none;
}
.climbingWallBackgroundColor {
    background-color: rgb(56, 56, 56);
    padding: 15px;
    color: white;
}
.climbingWallSecondaryHeadings  {
    color: white;
    text-decoration: underline;
    text-decoration-color: rgba(245, 245, 245, 0.23);
    font-size: larger;
    font-weight: bolder;
    text-align: center;
}
#climbingWallMainHeading    {
    color: white;
    text-decoration: underline;
    text-decoration-color: rgba(245, 245, 245, 0.23);
    font-weight: 900;
    text-align: center;
}
#photographerClimbingWall {
    font-size: small;
    color: rgb(242, 242, 242);
}
#footerWrapperClimbingWall {
    display: grid;
    grid-template-columns: 20vw auto 20vw;
    background-color: orange;
    margin: 0px;
    color: black;
}
/* Her starter koden som er tatt fra eksempelet til Tengel!
    Koden er endret på flere steder for å passe siden vår*/
.menu {
    display: flex; 
    flex-direction: row; /* Wide screen: Menu items after each other on a horizontal line */
    justify-content: flex-start;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
/* Styling for the navigation bar at the top */
.navbar{
    position: fixed;
    background-color: orange;
    height: 50px;
    width: 100vw;
    border: 0;
    border-bottom: 1px;
    border-style: solid;
    border-color: black;
} 
.menuButtonContainer { /* Hide the burger-box on wide screens */
    display: none;
}
  
#burgerToggle { /* Hide the burger-image on wide screens */
    display: none;
}
  
.menu > li { /* Styling for menu items */
    padding-left: 20px;
    padding-top: 15px;
}
@media (max-width: 1150px) {
    /* Styles for screens with a maximum width of 1020px */
    /* Adjust layout for the climbingwall.html page */
    .wrapperClimbingWall {
        display: grid;
        grid-template-columns: 8vw 47vw 37vw 8vw;
        grid-auto-rows: minmax(100px, auto);
    }
    .textClimbingWall {
        grid-column: 2/4;
        grid-row: 1;
        margin-right: 0px;
    }
    .pictureClimbingWall {
        grid-column: 2/4;
        grid-row: 2;
        margin-top: 0px;
    }
    .textUnderPicture {
        grid-column: 2/4;
        grid-row: 3;
    }  
    #climbingWallCropped{
        height: 350px;
        width: 555px;
        display: block;
    }
    #climbingWallPicture {
        display: none;
    }
    .textClimbingWall2{
        grid-column: 2/4;
        grid-row: 3;
    }
}
@media (max-width: 615px){
    /* Media query for scaling of hamburger menu*/
    .navbar {
        display: flex;
        width: 100vw;
        flex-direction: row;
        align-items: top;
        height: 50px;
        background-color: orange;
        padding-left: 15px; /*Adds padding from the burger to the links*/
      }
    .menuButtonContainer {
        display: flex;
        height: auto;
        width: 40px;
        height: 50px;
        cursor: pointer;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
  
    .menuButton,
    .menuButton::before,
    .menuButton::after {
        display: block;
        background-image: url(../media/hamburgermeny.png);
        background-size: cover; /* "cover" stretch image to fill box */
        position: sticky;
        height: 40px;
        width: 40px;
    }
      
    #burgerToggle + .menuButtonContainer {
        margin: 0px;
    }
  
    .menu {
        position: sticky;
        margin-top: 50px; /* postitions pop-up menu _relative_ to the hamburger */
        margin-left: -55px; 
        flex-direction: column; /* stacks the menu-entries beneath each other */
        height: 167px;  /*Denne bestemmer hvor dropdown menyen dropper ned i forhold til burgeren*/
        justify-content: center;
        align-content: initial;
    }
  
    .menu > li {
        overflow: hidden; /* Hide menu 'li' text unless burger (input) checked */
        display: flex;
        margin: 0;
        width: 200px; /* Width of menu. For mobile, maybe 100 % had been better?? */
        background-color: orange; /* Without bg-colour, text underneath the menu is _not_ covered */
    }
  
    #burgerToggle ~ .menu li { /* Before you click: Hidden */ /* ~ is a "general sibling selector"  */
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
    }
  
    #burgerToggle:checked ~ .menu li { /* After you click: Display */
        border: 1px;
        border-top: 0px;
        border-left: 0px;
        border-style: solid;
        border-color: #333;
        height: 1em;
        padding: 0.5em;
    }
}
/* Her slutter koden som er tatt fra eksempelet til Tengel*/
.navbar a:hover { /*Styles links to turn white while hovering*/
    color: white;
    transition-duration: 250ms;
}
.navbar li a { /*Styles for links*/
    font-weight: bold;
    font-size: large;
    text-decoration: none;
    color: black;
}
.navbar li a.active { /*Style for link with the active class*/
    color: white;
}